.med{
    width: 45%;
}

.btn-padding{
    font-weight: 600;
    font-size: 14px;
    width: 100%;
    margin: 10px;
    padding: 5%;
    border: 1px solid;
    border-radius: 20px;
    float: left;
}