.titulo {
    font-size: 28px;
    font-weight: 700;
}

.subtitulo {
    font-weight: 400;
    font-size: 20px;
}

.avatar {
    border-radius: 50px;


}

.text-red {
    float: left;
    font-size: 15px;
    color: red;
}

.heart-red {
    color: red;
    float: left;
    margin-top: 1px;
    margin-left: 3px;
}