<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div style="text-align: center;">
  <div (click)="programarPaseo()">
    <h2> Programar un Paseo </h2>
</div>

<div  (click)="historialPaseos()">
  <h2> Historial de Paseos </h2>
</div>

<div>
<h2> Consulta </h2>
</div>
</div>


</ion-content>
