<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Walker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


    <div *ngIf="walk">
      <div class="driver-top ion-text-center ion-padding">
        <div class="driver-picture">
          <img class="profile-picture circle med" src="{{ walk.photoURL }}">
        </div>
        <ion-text color="primary">
          <h2>{{ walk.name }}</h2>
        </ion-text>
        <ion-text color="primary">
          <p>{{ walk.rating }}</p>
        </ion-text>
      </div>
      <div style="text-align: center;"  (click)="toggleHeart()">
            <ion-icon size="large" class="heart-red" [name]="heartType"></ion-icon>
     
      </div>
    </div>

</ion-content>
